.ember-columnar-menu {
  position: relative;

  .ember-columnar-menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .ember-columnar-menu-option {
    flex-grow: 1;
    text-align: center;
  }
}
