@import "ember-flex-menu/ember-flex-menu";

.ember-flex-menu-option-type {
  width: 100%;

  &:focus {
    border-color: pink;
  }
}

.ember-flex-menu-option.selected {
  button {
    background-color: yellow;
  }
}
