{{#if choice.icon}}
  {{component iconFamily icon=choice.icon hook="ember_flex_menu_option_button_icon"}}
{{/if}}

<span class="ember-flex-menu-option-text" data-test={{hook "ember_flex_menu_option_button_text"}}>{{text}}</span>
