{{#if choice.icon}}
  {{component iconFamily choice.icon hook="ember_columnar_menu_option_button_icon"}}
{{/if}}

<span class="ember-columnar-menu-option-text" data-test={{hook "ember_columnar_menu_option_button_text"}}>{{text}}</span>
