{{#if header}}
  <div class="ember-columnar-menu-header" data-test={{hook "ember_columnar_menu_header"}}>{{header}}</div>
{{/if}}

{{#each columnizedChoices as |column rowIndex|}}
  <div class="ember-columnar-menu-row" data-test={{hook "ember_columnar_menu_row"}}>
    {{#each column as |choice columnIndex|}}
      {{component "ember-columnar-menu-option"
        acceptKeys=acceptKeys
        cancelKeys=cancelKeys
        choice=choice
        choose=choose
        columnIndex=columnIndex
        iconFamily=iconFamily
        keyboardActivated=keyboardActivated
        keyboardPriority=keyboardPriority
        rowIndex=rowIndex
        childGainedFocus=(action "childGainedFocus" rowIndex columnIndex)
        childLostFocus=(action "childLostFocus" rowIndex columnIndex)
      }}
    {{/each}}
  </div>
{{/each}}
