{{#if header}}
  <div class="ember-flex-menu-header" data-test={{hook "ember_flex_menu_header"}}>{{header}}</div>
{{/if}}

{{#each columnizedChoices as |column rowIndex|}}
  <div class="ember-flex-menu-row" data-test={{hook "ember_flex_menu_row"}}>
    {{#each column as |choice columnIndex|}}
      {{ember-flex-menu-option
        acceptKeys=acceptKeys
        cancelKeys=cancelKeys
        choice=choice
        columnIndex=columnIndex
        htmlSafe=htmlSafe
        iconFamily=iconFamily
        keyboardActivated=keyboardActivated
        keyboardPriority=keyboardPriority
        rowIndex=rowIndex
        choose=(action "choose" choice)
        childGainedFocus=(action "childGainedFocus" rowIndex columnIndex)
        childLostFocus=(action "childLostFocus" rowIndex columnIndex)
        chooseMulti=(action "chooseMulti" choice)
      }}
    {{/each}}
  </div>
{{/each}}
